/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

    body{
        margin: 0;
    }

*{
    box-sizing: border-box;
}
.links-nav{
    display: none;
}
button{
    cursor: pointer;
}
nav {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content:space-between;
	align-items: center;
	align-content: stretch;
    background-color:#540B51;
}
nav .img-icon{
    width:80px;
    margin: 15px 12px;
}
nav button img{
    width: 20px;
}
nav button{
    background-color: transparent;
    border: 0px;
    padding-right: 15px;

}
header{
    margin-bottom: -5px;
    display: block;
}

header .container-header{
    background-color: #540B51;
    color: white;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
    align-items: center;
    padding-bottom: .625rem;
}
header h1{
    font-size: 20px5em;
    text-align: center;
    margin-bottom: 10px;
}
header .orange-span{
    color: orange;
}
header p{
    font-size: 15px;
}
header .google-logo{
    width: 20px;
    margin-bottom: 2px;
    padding: 5px;
    background-color:white;
    border-radius: 2px;
    position: absolute;
    left: 2%;
}
header button{
    width:250px;
    display: flex;
	flex-direction: row;
	text-align: center;
	align-items: center;
    justify-content: center;
    padding: 5px;
    margin-bottom:8px;
    border: 0;
    border-radius: 2px;
    font-size: .60rem;
    height: 28px;
    text-transform: uppercase;
    color: #540B51;

}
header .button-blue-header{
    background-color: #4285F4;   
    position: relative;
    text-align: center;
    color: white;
}
#image-hero{
    width: 100%;
    
}
 .first-section{
    background-color: #F3EAE2;
    padding-top: 20px;
    padding-bottom: 20px;
    

}
.first-section p{
    text-align: center;
    text-transform: uppercase;
    font-size: 9px;
    font-weight: bold;

}
.container{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
    padding-bottom: 10px;

}

main img{
    width: 40px;
}
#image-hero img{
    width: 150%;
}
#image-hero{
    overflow: hidden;
}
.container img{
    flex: 0 1 auto ;
    width: 50px;
    height: auto;
    object-fit: contain;
    padding: 5px;   
}
main section .logo-bottom{
    width: 110px;
}
main section .logo-bottom2{
    width: 80px;
}
.teams{
display: flex;
flex-direction: column;
align-items: center;
}
.teams h3{
    padding-top: 30px;
    font-size: 30px;
    text-align: center;
    color: #540B51;
    margin-bottom: 0px;
}
.teams p{
    text-align: center;
}
ul{
    padding-left: 0px;
    list-style: none;
}
.teams span{
    font-size: 30px;
    color: #540B51;
    font-weight: bold;
}
.parraf-secction-team{
    font-size: 12px;
    width: 23vh;
    font-weight: bold;
}
.bottom-h3{
    font-size: 15px;
    padding-left: 5px;
    padding-right: 10px;
}
#section-welcome{
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color:#540B51;
    padding-bottom: 20px;
}
#section-welcome h3{
    font-size: 25px;
}
#section-welcome button{
    width: 250px; 
    display: flex;
    flex-direction: row;
	text-align: center;
	align-items: center;
    justify-content: center;
    padding: 5px;
    margin-bottom:8px;
    border: 0;
    border-radius: 2px;
    font-size: 8px;
    height: 28px;
    text-transform: uppercase;

}
#section-welcome #button-top{
    background-color: white;
    color: #540B51;
    transition: all 0.2s;
}

#section-welcome #button-bottom{
    background-color: #540B51;
    border: 1px solid white;
    color: white;
}

footer{
    display: flex;
    flex-direction: column;
    
}
footer .terms{
    padding-left: 10px;
}
footer .terms li{
    font-size: 10px;
    padding-bottom: 10px;
}
.social-media{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
}
hr{
    margin-top: 20px;
    width: 90%;
}
footer #blue{
color: #2E71A6;
}
small{
    display: flex;
    text-align: center;
    font-size: 10px;
    margin-bottom: 20px;
}
nav .hidden{
    display: none;
}


@media (min-width: 768px)and (max-width:1024px){
    .container-header-all{
        display: flex;
        flex-direction: row; 

        
    }
    nav .hidden{
        display: none;
    }
    header h1{
        font-size: 70px;
        text-align: left;
        margin-bottom: 10px;
        
    }
    header .container-header{
        background-color: #540B51;
        color: white;
        justify-content: flex-start;
        align-items: flex-start;
        padding-bottom: .625rem;
        text-align: left;
        padding-left: 15px;
        width: 700px;
    }
    header #image-hero{
        display: flex;
        justify-content: baseline;
        align-items: center;
        background-color: #540B51;
        padding-bottom: 10px;
        
    }
    #image-hero img{
        width: 120%;
    }

    nav .img-icon{
        margin: 15px 12px;
    }

    header button{
        width: 350px;
        height: 40px;
        font-size: 13px;
    }
    header .google-logo{
        width: 28px;
    }
    header p{
        font-size: 20px;
        width: 260px;
    }
    .first-section p{
        font-size: 15px;
        padding: 20px 0px;
    }
    .teams ul{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: stretch;
        align-content: space-between;
        padding-bottom: 20px;

    }
    .teams ul p{
        width: 210px;
        height: 80px;
        font-size: 20px;
        text-align: left;
        margin-top: 0px;
    }
    .teams ul span{
        font-size: 50px; 
    }
    .teams ul .number-span{
        height: 50px;
        margin-bottom: 0px;
    }
   .teams{
    align-items: stretch;
   }
   .bottom-h3{
    font-size: 18px;
   }
   .teams h3{
    font-size: 32px;
   }
   #section-welcome{
    padding-bottom: 40px;
   }
   #section-welcome h3{
    font-size: 40px;
    margin-bottom: 20px;
   }
   #section-welcome #button-top{
        width: 600px;
        height: 45px;
        margin-bottom: 15px;
        font-size: 12px;
   }
   #section-welcome #button-bottom{
    width: 600px;
    height: 45px;
    font-size: 12px;
   }
   footer{

   }
   footer .terms{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   }
   footer .terms li{
    font-size: 16px;
    padding: 10px;
   }
   footer hr{
    margin-top: 40px;
   }
   .social-media{
    justify-content: flex-start;
   }
   .social-media li{
    display: flex;
    margin-left: 10px;
    margin-right: 80px;
   }
   footer small{
    margin-left: 20px;
    font-size: 12px;
   }

}
   @media (min-width:1024px){
    nav .links-nav{
        display: flex;
        flex-direction: row;
    }
    .pc-nav{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .pc-nav a{
        text-decoration: none;
        color: white;
        padding-right: 20px;

    }
    .links-nav{
        margin-left: 10px;
    }

    nav .hidden{
        display: flex;
    }
    .button-nav{
        display: flex;
        flex-direction: row;
    }
    .button-nav a{
        text-decoration: none;
        margin-right: 20px;
    }
    .button-sing{
        color:white;
    }
    .button-free{
        font-size: 10px;
        background-color: white;
        padding: 10px;
        border-radius: 2px;
        text-transform: uppercase;
    }

    .container-header-all{
        display: flex;
        flex-direction: row; 

        
    }
    header h1{
        font-size: 50px;
        text-align: left;
        width: 300px;
        margin-bottom: 10px;
        
    }
    header .container-header{
        background-color: #540B51;
        color: white;
        justify-content: flex-start;
        align-items: flex-start;
        padding-bottom: 80px;
        text-align: left;
        width: 700px;
        padding-left: 50px;
    }
    header #image-hero{
        display: flex;
        justify-content: baseline;
        align-items: center;
        background-color: #540B51;
        padding-bottom: 10px;
        
    }
    #image-hero img{
        width: 80%;
    }
    .button-header{
        padding-top: 20px;
        display: flex;
        flex-direction: row;
    }
    nav .img-icon{
        margin: 15px 12px;
    }

    header button{
        width: 200px;
        height: 40px;
        font-size: 10px;
        margin-right: 20px;
    }
    header .google-logo{
        width: 28px;
    }
    header p{
        font-size: 20px;
        width: 260px;
        padding-top: 30px;
        margin-bottom: 0px;
    }
    .container{
        justify-content: space-evenly;
    }
    .first-section p{
        font-size: 14px;
        margin-bottom: 25px;
    }
    .teams ul{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: stretch;
        align-content: space-between;
        padding-bottom: 20px;

    }
    .teams ul p{
        width: 180px;
        height: 80px;
        font-size: 14px;
        text-align: left;
        margin-top: 0px;
    }
    .teams ul span{
        font-size: 50px; 
    }
    .teams ul .number-span{
        height: 50px;
        margin-bottom: 0px;
    }
   .teams{
    align-items: stretch;
   }
   .welcome-button{
    display: flex;
    flex-direction: row;
   }
   #section-welcome button{
    width: 130px;
    height: 40px;
    margin-right: 10px;
    font-weight: bold;
   }
   #section-welcome h3{
    font-size: 35px;
   }
   footer .terms{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   }
   footer .terms li{
    font-size: 16px;
    padding: 10px;
   }
   footer hr{
    margin-top: 40px;
   }
   .social-media{
    justify-content: flex-start;
   }
   .social-media li{
    display: flex;
    margin-left: 10px;
    margin-right: 80px;
   }
   footer small{
    margin-left: 20px;
    font-size: 12px;
   }
   
    




   }

    
    





    
   
















